@import 'tailwindcss';
@import 'primeicons/primeicons.css';

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.p-button {
  display: flex;
}

.p-button:has(.p-button-label:not(:empty)) {
  justify-content: space-between !important;
}
